#sedm {
  /* Your styles here */
  background-color: #f0f0f0;
  padding: 20px;
  border: 2px solid #333;
  border-radius: 10px;
  margin-right: 50px;
}

#numberInput {
  /* Additional styles for the numberInput if needed */
  margin-bottom: 10px;
}

body {

  justify-content: center;
  align-items: center;
  display: flex;
  background-color: #f0f0f0; /* nastavte podle potřeby */
}

