h1 {
    text-align: center;
    text-decoration: underline;
    padding: 150px 0px 50px 0px ;
    background-image: url('../img/patterns (2).jpg');
    color: rgb(255, 255, 255);
    font-weight: bolder;
}

.card {
    position: relative;
    height: 300px; 
    
    margin: 5px;
    border-radius: 1%;
    border: 1.5px solid rgb(0, 0, 0); 
    background-color: #ffffff;
    
    transition: background-color 0.3s ease, border-color 0.3s ease;
}

.card:hover {
    background-color: #dddddd;
    border-color: #ff0000; 
}

.card-body {
    padding: 15px;
}

.card-img-top {
    width: 50%; 
    height: 100px;
    object-fit: cover;  
    border-radius: 50%;
    align-self: center;
    margin-top: 20px;
}

.card-title {
    margin-bottom: 0;
    font-size: 1.2rem; 
    font-weight: bold; 
    text-align: center;
}

.card-text {
    margin-top: 5px;
    margin-bottom: 5px;
}

@media (max-width:400px) {
    .card {
        flex: 1 1 calc(50% - 20px); 
        margin-right: 0;
    }
}

.card-group{
    align-items: center;
    margin-top: 50px;
}

ul{
    margin-left: 150px;
    align-items: center;
    margin-top: 30px;
    padding: 20px;
    border: 0.5px solid rgb(0, 0, 0);
}

.delete-button {
    font-weight: bold;
    position: absolute;
  top: 5px;
  right: 5px;
  background-color: rgb(212, 26, 26);
  color: white;
  border: none;
  border-radius: 50%;
  width: 25px;
  height: 25px;
  cursor: pointer;
}
